.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.signup-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.rememberMe::after {
   margin: auto;
   content: "\A\A";
   white-space: pre;
}