body {
    margin-left: 2.5rem;
    font-family: "Consolas";
    font-size: large;
    background-color: rgb(39, 37, 37);
  }
  h1 {
    color: rgb(0, 255, 42);
  }
  h2 {
    color: rgb(10, 185, 25);
  }
  p {
    line-height: 32px;
    white-space: pre;
    align-items: center;
    color:rgb(80, 129, 233);
    font-weight: bolder;
  }
  span {
    color: rgb(247, 147, 16);
  }