<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReadMe-Itai</title>
</head>
1. My individual Readme- Itai Ben Porat 204685465<br>
<body>
2.Under The Same Woof <br>
3.Pets products <br>
4. Added some test using JEST, to use them, just use the IDE and press the run button next to the test you would like to perform...<br>
5. Manage a storage on the disk, without using Mongo/ similar external db's,<br>
6. Or Daniel, ID 204350847. Or was the main architect. He wrote and build the main routes, paths, and behavior, as well as the<br>
storage management. This way I was able to build on top of them, to implement & add features, tests etc.<br>
7. Routes:
admin, auth, shop</body>
</html>