<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/or.css">
    <title>Or Daniel's readme</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">
            <h1>My name is Or Daniel, and this is my readme!</h1>
        </div>
        <div class="grid-item">
            <h2>ID: 204350847</h2>
        </div>
    </div>
    <div class="grid-container">
        <footer>
            <p>
                <span style="color:greenyellow">{</span>
                    <label for="store">storeName : </label> <span name="store">"Under The Same Woof"</span>,
                    <label for="prods">products : </label> <span name="prods">"Animal products"</span>,
                    <label for="additionalPages">additionalPages : </label> <span name="additionalPages">"contact us, about us, mock checkout form, all operateable through the navigation bar"</span>,
                    <label for="hard">hard : </label> <span name="hard">"Implementing file system instead of operating on a free cloud."</span>,
                    <label for="partner">partner : </label> <span name="partner">"Itai Ben Porat, ID 204685465. Added some tests using JEST, created cool pages using HTML, implemented cart logic."</span>,
                    <label for="routes">routes : </label> <span name="routes">"Many routes, all organized under 'routes' folder in 4 files - admin, auth, shop and misc."</span>,
                <span style="color:greenyellow">}</span>
            </p>
        </footer>
    </div> 
</body>
</html>